/* STYLES RESET ------------------------------------------------------- */
*,
*:before,
*:after {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background: #ffffff;
    color: #1f1f24;
}

body._lock {
    overflow: hidden;
}

/* WRAPPER ------------------------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* CONTAINER ------------------------------------------------------- */

.container {
    max-width: 1480px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: content-box;
}
@media (max-width: 1367px) {
    .container {
        max-width: 1200px;
        min-width: 926px;
        padding: 0 86px;
    }
}
@media (max-width: 1110px) {
    .container {
        max-width: 926px;
        min-width: 320px;
        padding: 0 62px;
    }
}
@media (max-width: 445px) {
    .container {
        max-width: 320px;
        min-width: 280px;
        padding: 0 20px;
    }
}

/* NAVBAR */

.navbar {
    padding: 14px 0 16px 0;
    border-bottom: 1px solid #e9e9ea;
}
@media (max-width: 1025px) {
    .navbar-container {
        padding: 0 44px;
    }
}
@media (max-width: 361px) {
    .navbar-container {
        padding: 0 20px;
    }
}
/* NAVBAR TOP */

.navbar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.navbar-top__logo img {
    max-height: 46px;
    max-width: 225px;
}
@media (max-width: 630px) {
    .navbar-top__logo img {
        max-width: 134px;
        max-height: 27px;
    }
}

.navbar-top__lang-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar-top__lang-list li {
    font-size: 18px;
    line-height: 25px;
    color: #8e8e91;
    cursor: pointer;
}

.navbar-top__lang-list li.selected {
    color: #1f1f24;
}
@media (max-width: 630px) {
    .navbar-top__lang-list {
        display: none;
    }
}

.navbar-top__lang-list-phone {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-top__lang-list-phone select {
    appearance: none;
    background: url("./img/arrow-icon.svg") no-repeat left;
    background-position-x: calc(100% - 40px);
    padding: 15px 15px 15px 20px;

    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #1f1f24;
}

.navbar-top__lang-list-phone button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

@media (min-width: 630px) {
    .navbar-top__lang-list-phone {
        display: none;
    }
}

/* NAVBAR BOTTOM */

.navbar__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-left: 20px;
}

.navbar-bottom__menu-icon img {
    max-width: 40px;
    max-height: 32px;
}

.navbar-bottom__search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 68px;
    border: 2px solid #0aa9b4;
    border-radius: 10px;
}

.navbar-bottom__search select {
    appearance: none;
    background: url("./img/arrow-icon.svg") no-repeat right #f7fcfc;
    background-position-x: calc(100% - 24px);

    height: 100%;
    border-radius: 10px 0px 0px 10px;
    padding: 0 77px 0 25px;

    font-size: 18px;
    line-height: 25px;
    color: #1f1f24;
    border-right: 2px solid #0aa9b4;
}

.navbar-bottom__search-input {
    position: relative;
    height: 100%;
    width: 100%;
}

.navbar-bottom__search-input input {
    padding-left: 22.5px;
    height: 100%;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.navbar-bottom__search-input input::placeholder {
    font-size: 18px;
    line-height: 25px;
    color: #1f1f24;
}

.navbar-bottom__search-input img {
    position: absolute;
    width: 21px;
    height: 20px;
    top: 23px;
    right: 22.5px;
}

@media (max-width: 630px) {
    .navbar__bottom {
        gap: 17px;
        padding-left: 8px;
    }
    .navbar-bottom__menu-icon img {
        min-width: 25px;
        min-height: 15px;
        max-width: 25px;
        max-height: 15px;
    }

    .navbar-bottom__search {
        height: 39px;
        border-radius: 5px;
    }

    .navbar-bottom__search select {
        background: url("./img/arrow-icon.svg") no-repeat right #f7fcfc;
        background-position-x: calc(100% - 7.5px);
        background-size: 7px 4px;
        padding: 0px 12px 0px 12px;
        border-radius: 5px 0px 0px 5px;

        font-weight: 400;
        font-size: 12px;
        line-height: 17px;

        color: #1f1f24;
    }

    .navbar-bottom__search-input input {
        padding-left: 10px;
        height: 100%;
        width: 100%;
        border-radius: 0 5px 5px 0;
    }

    .navbar-bottom__search-input input::placeholder {
        font-size: 12px;
        line-height: 17px;

        color: #1f1f24;
    }

    .navbar-bottom__search-input img {
        display: none;
    }
}

/* PAGE */
.page {
    padding: 50px 0 122px 0;
    flex: 1 1 auto;
}

.page__wrpaper {
    display: grid;
    grid-template-columns: auto 200px;
    grid-column-gap: 40px;
}
@media (max-width: 992px) {
    .page__wrpaper {
        display: block;
    }
}

@media (max-width: 1025px) {
    /* .page {
        padding: 35px 0 222px 0;
    } */
    .page__wrpaper {
        grid-column-gap: 28px;
    }
}
@media (max-width: 361px) {
    .page {
        padding: 42px 0 22px 0;
    }
}

/* CONTENT */

/* CONTENT HEADER */

.content__header {
    margin-bottom: 30px;
}

.content__header-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content__header-heading h1 {
    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
    color: #00315c;
    text-transform: lowercase;
}

.content__header-heading h1 span {
    font-weight: 500;
    text-transform: uppercase;
}

.content__header p {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #4c4c50;
}

@media (max-width: 361px) {
    .content__header-heading {
        margin-bottom: 10px;
    }
    .content__header-heading h1 {
        font-weight: 500;
        font-size: 26px;
        line-height: 29px;
    }
    .content__header p {
        font-size: 12px;
        line-height: 19px;
    }
}

/* CONTENT MAIN */

.main-content {
    background: #ffffff;
    border: 1px solid #e9e9ea;
    border-radius: 10px;
    padding: 30px;
}

@media (max-width: 1025px) {
    .main-content {
        padding: 20px;
    }
}

.main-content__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
@media (max-width: 530px) {
    .main-content {
        padding: 15px 0px 0 0;
        border: none;
    }
    .main-content__top {
        margin-bottom: 14px;
    }
}

.main-content__top-left {
    display: flex;
    gap: 30px;
}

.main-content__img {
    width: 170px;
    height: 120px;
    border: 1px solid #e9e9ea;
    border-radius: 10px;
    background: url("./img/img-sample.jpg") no-repeat center;
}

@media (max-width: 1025px) {
    .main-content__top-left {
        gap: 20px;
    }
    .main-content__img {
        width: 150px;
        height: 105px;
    }
}

.main-content__img-info > p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #4c4c50;
    margin-bottom: 15px;
}

.main-content__img-info div {
    display: flex;
    gap: 10px;
}

.main-content__img-info div img {
    max-width: 15px;
    max-height: 15px;
}

.main-content__img-info div > p {
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #1f1f24;
}

.main-content__top-right {
    display: flex;
    gap: 25px;
    align-items: flex-start;
}

.main-content__top-right select {
    appearance: none;
    background: url("./img/arrow-icon.svg") no-repeat right #ffffff;
    background-position-x: calc(100% - 4px);

    padding: 0px 23px 5px 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #00315c;
}

.main-content__top-right iframe {
    max-width: 170px;
    max-height: 120px;
    border: 1px solid #e9e9ea;
    border-radius: 10px;
}
@media (max-width: 1025px) {
    .main-content__top-right {
        gap: 20px;
        align-items: center;
    }
    .main-content__top-right iframe {
        max-width: 150px;
        max-height: 105px;
    }
}
@media (max-width: 730px) {
    .main-content__top-right {
        display: none;
    }
}
@media (max-width: 361px) {
    .main-content__top-left {
        gap: 15px;
    }

    .main-content__img {
        width: 100px;
        height: 70px;
    }
    .main-content__img-info > p {
        font-weight: 300;
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 5px;
    }
}

.main-content__bottom > div {
    display: flex;
    gap: 10px;
    font-size: 16px;
    line-height: 26px;
}

.main-content__bottom > div:not(:last-child) {
    margin-bottom: 15px;
}

@media (max-width: 361px) {
    .main-content__bottom > div {
        font-size: 14px;
        line-height: 22px;
        align-items: flex-start;
    }
    .main-content__bottom > div:not(:last-child) {
        margin-bottom: 10px;
    }
}

.main-content__bottom-location {
    font-weight: 400;
    color: #1f1f24;
}

.main-content__bottom-pin {
    font-weight: 300;
    color: #4c4c50;
}

.main-content__bottom .main-content__bottom-company-info {
    display: grid;
    grid-template-columns: 166px 215px 136px;
    grid-template-areas: "phone time site" "phone time mail";
    column-gap: 60px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
@media (max-width: 1025px) {
    .main-content__bottom .main-content__bottom-company-info {
        column-gap: 40px;
    }
}
@media (max-width: 730px) {
    .main-content__bottom .main-content__bottom-company-info {
        display: flex;
        flex-direction: column;

        font-size: 14px;
        line-height: 21px;

        margin-bottom: 25px !important;
    }
}

.main-content__bottom .main-content__bottom-company-info > div img {
    width: 15px;
    height: 15px;
}

.main-content__bottom-phone {
    grid-area: phone;
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.main-content__bottom-phone p {
    font-weight: 500;
    color: #1f1f24;
}

.main-content__bottom-phone button {
    font-size: 15px;
    color: #0aa9b4;
    background: #ffffff;
}

.main-content__bottom-work-time {
    grid-area: time;
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.main-content__bottom-work-time p:first-child {
    color: #8e8e91;
}

.main-content__bottom-work-time p:last-child {
    color: #4c4c50;
}

.main-content__bottom-site {
    display: flex;
    align-items: baseline;
    gap: 10px;
    grid-area: site;
    text-transform: lowercase;
}
.main-content__bottom-site a {
    color: #0aa9b4;
}

.main-content__bottom-mail {
    display: flex;
    gap: 10px;
    align-items: baseline;
    grid-area: mail;
}

.main-content__bottom-mail button {
    background: #ffffff;
    font-size: 15px;
    color: #0aa9b4;
}

.main-content__bottom-map {
    width: 100%;
    display: block !important;
}
.main-content__bottom-map iframe {
    width: 100%;
    max-height: 105px;
    border: 2px solid #e9e9ea;
    border-radius: 5px;
    margin-bottom: 7px;
}

@media (min-width: 730px) {
    .main-content__bottom-map {
        display: none !important;
    }
}

.main-content__bottom > p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #1f1f24;
}

/* CONTENT FOOTER */

.content__footer {
    margin-top: 62px;
    display: block;
}
@media (max-width: 1024px) {
    .content__footer {
        display: grid;
        align-items: center;
        gap: 10px;
        grid-template-columns: 15px 1fr;
    }
}
@media (max-width: 770px) {
    .content__footer {
        display: block;
    }
}

.content__footer > button {
    width: 14px;
    height: 8px;
    background-color: #ffffff;
    transform: rotate(90deg);
}
@media (min-width: 1025px) {
    .content__footer > button {
        display: none !important;
    }
}
@media (max-width: 770px) {
    .content__footer > button {
        display: none !important;
    }
}
.content__footer > button img {
    max-width: 100%;
    max-height: 100%;
}

.content__footer-row {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 770px) {
    .content__footer-row {
        flex-direction: column;
        gap: 40px;
    }
}

/* @media (max-width: 361px) {
    .content__footer-row {
        flex-direction: column;
        gap: 40px;
    }
} */

.content__footer-col {
    flex: 0 1 25%;
    border-bottom: 1px solid #bcbcbe;
}

@media (max-width: 1213px) {
    .content__footer-col {
        flex: 0 1 33.333%;
    }
    .content__footer-col:not(:nth-child(n + 2)) {
        display: none;
    }
}
@media (max-width: 770px) {
    .content__footer-col:not(:nth-child(n + 2)) {
        display: block;
    }
}

.content__footer-col p {
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    color: #0aa9b4;
    padding-bottom: 14px;
}
@media (max-width: 1025px) {
    .content__footer-col p {
        padding: 14px 0;
    }
}

.content__footer-col.active {
    border-bottom: 1px solid #00315c;
}

.content__footer-col.active p {
    font-size: 26px;
    color: #00315c;
}

@media (max-width: 1367px) {
    .content__footer-col:nth-child(-n + 2) p {
        color: #e9e9ea;
    }
}

/* SIDEBAR */

.sidebar {
    background: #e9e9ea;
    border-radius: 10px;
    height: 100%;
}

@media (max-width: 992px) {
    .sidebar {
        display: none;
    }
}
